{% extends 'forums/base.html' %}
{% block content %}
<div class="container">
    <div class="confirmation">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-muted">Delete Post</legend>
                <h4>Are you sure you want to delete your question?</h4>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Yes, Delete" class="btn btn-outline-danger">
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-secondary">cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}