{% extends 'users/base_login_register.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block login-register-content %}
    <div class="content-section">
        <form method= "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="text-muted">Forgot Password</legend>
                <hr id= "inside-form-hr" size= "2">
                {{form|crispy}}
            </fieldset>

            <input type="submit" value= "reset password" class="btn btn-primary btn-block">

        </form>
    </div>
    <div class="images mt-5 text-center">
        <img src="{% static 'users/images/forgot.png' %}" class="img-fluid" alt="Responsive image" width="250">
    </div>
    
{% endblock login-register-content %}